name: Build and Deploy to DigitalOcean

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to DigitalOcean Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.DOCR_REGISTRY }}
          username: ${{ secrets.DOCR_USERNAME }}
          password: ${{ secrets.DOCR_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Build & Push Laravel app image
      - name: Build and Push Laravel Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfile
          push: true
          tags: |
            ${{ secrets.DOCR_REGISTRY }}/statamic-app:${{ github.ref_name }}
            ${{ secrets.DOCR_REGISTRY }}/statamic-app:latest

      # Build & Push MinIO custom image
      # - name: Build and Push MinIO Image
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     file: ./docker/dockerfile.minio
      #     push: true
      #     tags: |
      #       ${{ secrets.DOCR_REGISTRY }}/statamic-minio:${{ github.ref_name }}
      #       ${{ secrets.DOCR_REGISTRY }}/statamic-minio:latest

  # Provision infrastructure with Terraform
  terraform:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Terraform environment variables
        run: |
          export TF_VAR_do_token="${{ secrets.DO_TOKEN }}"
          export TF_VAR_app_key="${{ secrets.APP_KEY }}"
          export TF_VAR_app_image="${{ secrets.DOCR_REGISTRY }}/statamic-app:latest"
          export TF_VAR_db_password="${{ secrets.DB_PASSWORD }}"
          export TF_VAR_redis_password="${{ secrets.REDIS_PASSWORD }}"
        shell: bash

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init & Apply
        run: |
          export TF_LOG=DEBUG
          export TF_LOG_PATH=terraform.log
          cd infra
          terraform init
          terraform apply -auto-approve

      - name: Upload Terraform log
        uses: actions/upload-artifact@v3
        with:
          name: terraform-log
          path: infra/terraform.log

  # Deploy to DigitalOcean App Platform
  deploy:
    runs-on: ubuntu-latest
    needs: terraform
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install doctl
        run: |
          curl -sL https://github.com/digitalocean/doctl/releases/download/v1.107.0/doctl-1.107.0-linux-amd64.tar.gz \
          | tar -xzv
          sudo mv doctl /usr/local/bin

      - name: Authenticate doctl
        run: doctl auth init -t ${{ secrets.DO_TOKEN }}

      - name: Push App Spec to App Platform
        run: doctl apps update ${{ secrets.DO_APP_ID }} --spec app.yaml
