name: Deploy infra to DigitalOcean

on:
  push:
    tags:
      - "infra"

jobs:

  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # - name: Set Terraform environment variables
      #   run: |
      #     export TF_VAR_do_token="${{ secrets.DO_TOKEN }}"
      #     export TF_VAR_app_key="${{ secrets.APP_KEY }}"
      #     export TF_VAR_app_image="${{ secrets.DOCR_REGISTRY }}/statamic-app:latest"
      #     export TF_VAR_db_password="${{ secrets.DB_PASSWORD }}"
      #     export TF_VAR_redis_password="${{ secrets.REDIS_PASSWORD }}"
      #   shell: bash

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init & Apply with live debug
        run: |
          cd infra
          export TF_LOG=DEBUG
          # Don't set TF_LOG_PATH to avoid conflict with tee
          terraform init
          terraform apply -auto-approve \
            -var "do_token=${{ secrets.DO_TOKEN }}" \
            -var "app_key=${{ secrets.APP_KEY }}" \
            -var "app_image=${{ secrets.DOCR_REGISTRY }}/statamic-app:latest" \
            -var "db_password=${{ secrets.DB_PASSWORD }}" \
            -var "redis_password=${{ secrets.REDIS_PASSWORD }}" \
            -var "spaces_key=${{ secrets.SPACES_KEY }}" \
            -var "app_repository=${{ secrets.DOCR_REPOSITORY }}" \
            -var "spaces_secret=${{ secrets.SPACES_SECRET }}" | tee terraform.log
      - name: Upload Terraform log
        uses: actions/upload-artifact@v4
        with:
          name: terraform-log
          path: infra/terraform.log